.bgc-primary {
  background-color: #F9F9F9;
}

.txt-primary {
  color: #F9F9F9;
}

.bg-primary-inverted {
  background-color: #060606;
}

.bg-primary-darken {
  background-color: #e0e0e0;
}

.bg-primary-lighten {
  background-color: white;
}

.bgc-secondary {
  background-color: #B2C5CD;
}

.txt-secondary {
  color: #B2C5CD;
}

.bg-secondary-inverted {
  background-color: #4d3a32;
}

.bg-secondary-darken {
  background-color: #93aeb9;
}

.bg-secondary-lighten {
  background-color: #d1dce1;
}

.bgc-complementary {
  background-color: #6D3527;
}

.txt-complementary {
  color: #6D3527;
}

.bg-complementary-inverted {
  background-color: #92cad8;
}

.bg-complementary-darken {
  background-color: #47231a;
}

.bg-complementary-lighten {
  background-color: #934734;
}

*, *::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #F9F9F9;
}

main {
  overflow: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

ol, ul {
  list-style: none;
}

input[type=checkbox],
input[type=radio],
input,
textarea,
select {
  outline: none;
  border: none;
}

input::placeholder,
select::placeholder, textarea::placeholder {
  color: #999999;
  opacity: 1;
}

a {
  display: block;
  text-decoration: none;
  color: unset;
}

button, a, input, select {
  border: none;
  cursor: pointer;
  background: none;
}

textarea {
  resize: vertical;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: #999999;
  padding: 0;
  margin: 0;
}

p, li, ol, ul {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button, span, a,
figcaption,
blockquote, ul, li, ol, input, label, select, option, textarea {
  font-size: 1.6rem;
  font-family: "Josefin", "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
}

a,
a:visited,
a:active,
a:focus {
  text-decoration: none;
}

.h2, .h3 {
  font-weight: bold;
  color: #6D3527;
}

.h2 {
  font-size: clamp(20px, 1.6vw, 3.6rem);
}

.h3 {
  font-size: clamp(18px, 3rem, 1.3vw);
}

.intro-txt {
  font-size: clamp(16px, 2.6rem, 1.1vw);
}

.hamburger-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
  width: 70px;
  height: 70px;
  padding: 10px;
}
@media screen and (min-width: 1200px) {
  .hamburger-btn {
    display: none;
  }
}
.hamburger-btn__item {
  height: 3px;
  width: 100%;
  background-color: #6D3527;
  border-radius: 10px;
}
.hamburger-btn__item:nth-child(2n) {
  width: 80%;
}
.hamburger-btn__item:nth-child(3n) {
  width: 60%;
}
.hamburger-btn__item--nav-expanded {
  position: absolute;
  width: 60% !important;
  transform: rotate(45deg);
}
.hamburger-btn__item--nav-expanded:nth-child(3n) {
  transform: rotate(-45deg);
}

.button-cta {
  width: 280px;
  padding: 15px 10px;
  border-radius: 5px;
  background-color: #B2C5CD;
  color: #6D3527;
  font-size: 2rem;
  font-weight: bold;
  transition: all 0.3s;
  text-align: center;
}
.button-cta:hover {
  background-color: #d8e1e6;
}

.button-action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-action--border {
  border: 3px solid #B2C5CD;
  border-radius: 50%;
}

.buttons-wrap {
  position: relative;
  width: 100%;
  max-height: 48px;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 992px) {
  .buttons-wrap--not-desktop {
    display: none;
  }
}
.buttons-wrap ::after {
  content: "";
  width: calc(100% - 56px);
  height: 100%;
  position: absolute;
  top: 0;
  left: 28px;
  z-index: -10;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.325);
}
.buttons-wrap__icon {
  height: 100%;
  background-color: #B2C5CD;
  border-radius: 50%;
}

.price {
  padding-block: 5px;
  border: 2px solid #6D3527;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  color: #6D3527;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 10px;
}
.list--txt {
  list-style-type: disc;
  padding-left: 40px;
  margin-block: 15px;
}
.list__item-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}
.list__icon {
  width: 40px;
  height: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  box-shadow: 0px 0px 24px 0px rgb(66, 68, 90);
  border-radius: 10px;
}
.card__img-wrap {
  position: relative;
  width: 100%;
  height: 150px;
  z-index: 0;
}
@media screen and (orientation: portrait) and (min-width: 600px) {
  .card__img-wrap {
    height: 300px;
  }
}
@media (min-width: 992px) {
  .card__img-wrap {
    height: 200px;
  }
}
.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.card__header {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid #6D3527;
}
.card__h3 {
  margin-block: 15px;
  text-transform: uppercase;
}
.card__caption {
  color: #6D3527;
}
.card__quote {
  font-style: italic;
}
.card__button {
  width: 100%;
}
.card__price {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -65%);
  background-color: #F9F9F9;
  z-index: 100;
  width: 80%;
}
.card--testimonial {
  background-color: #d8e1e6;
  padding: 25px;
}
.card__icon {
  height: 30px;
}
.card__list {
  margin-bottom: 15px;
  min-height: 370px;
}

.swiper {
  display: flex;
  gap: 20px;
  width: 100%;
}
@media (min-width: 992px) {
  .swiper {
    justify-content: space-between;
  }
}
.swiper__card {
  text-align: left;
  width: 100%;
  flex-shrink: 0;
  transition: all 0.3s ease-in;
}
@media (min-width: 992px) {
  .swiper__card {
    max-width: 400px;
  }
}

.process {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.process__step {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.325);
  background: #F9F9F9;
  padding: 15px;
  border-radius: 10px;
}
@media (min-width: 768px) {
  .process__step {
    flex-direction: row;
    text-align: left;
    transition: all 0.4s linear;
  }
  .process__step:hover {
    box-shadow: 0 4px 30px #6d3527;
  }
}
@media (min-width: 768px) {
  .process__step:nth-of-type(2n) {
    flex-direction: row-reverse;
  }
}
.process__number-wrap, .process__info-wrap {
  order: 1;
}
.process__number-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .process__number-wrap {
    width: 20%;
    order: 2;
  }
}
.process__number {
  font-size: 35px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  background-color: #6D3527;
  color: #F9F9F9;
  line-height: 85px;
}
.process__img-wrap {
  order: 3;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
}
.process__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}
@media (min-width: 768px) {
  .process__info-wrap, .process__img-wrap {
    width: 40%;
  }
}
.process__info-wrap {
  padding-inline: 20px;
}

.input-control {
  width: 100%;
  height: 120px;
}
.input-control__input {
  margin-top: 10px;
}
.input-control--rodo {
  height: 120px;
}
@media (orientation: landscape) {
  .input-control--rodo {
    height: 80px;
  }
}
.input-control__label {
  font-weight: bold;
  color: #6D3527;
}
.input-control__label--rodo {
  font-weight: normal;
  position: relative;
  display: inline-block;
  height: auto;
}
@media (min-width: 992px) {
  .input-control--full-width {
    grid-column: 1/-1;
  }
}
.input-control--message {
  height: 170px;
}
.input-control__error-info {
  display: none;
  margin-top: 5px;
  color: rgb(228, 50, 50);
}
.input-control__rodo-txt {
  font-size: 1.6rem;
  line-height: 20px;
  text-align: left;
  padding-left: 40px;
}
.input-control__checkmark {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  height: 20px;
  width: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.551);
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

.input {
  width: 100%;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.551);
}
.input--checkbox {
  cursor: default;
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}
.input--textarea {
  height: 100px;
}
.input__link {
  text-decoration: underline;
  display: inline-block;
  font-size: 1.6rem;
}
.input--success {
  border: 2px solid #09c372;
}
.input--error {
  border: 2px solid rgb(228, 50, 50);
}
.input:focus {
  border: 2px solid #6d3527;
  box-shadow: 0 4px 15px #6d3527;
}

.error-info {
  display: block;
  color: rgb(228, 50, 50);
  margin-top: 5px;
  font-size: clamp(12px, 1rem + 0.75vh, 1.7rem);
}

.msg {
  display: none;
  margin: 10px auto;
  text-align: center;
  transition: display 0.4s linear;
  color: #6d3527;
  grid-column: 1/-1;
}
.msg--active {
  display: block;
}
.msg--success {
  color: #09c372;
}
.msg--error {
  color: #e43232;
}

.input--checkbox:checked + .input-control__checkmark::after {
  background-image: url("/icons/check-rodo-24.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 18px;
  position: absolute;
  width: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form {
  padding: 40px 20px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(80px, 1fr));
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  align-items: center;
  background: #F9F9F9;
}
@media (min-width: 992px) {
  .form {
    max-width: 800px;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
.form__button-cta {
  grid-column: 1/-1;
}

.socials {
  padding: 40px 20px;
  border-radius: 10px;
  background: #F9F9F9;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 2.5rem;
}
@media screen and (orientation: landscape) and (min-width: 992px) {
  .socials {
    max-width: 530px;
  }
}
.socials__item {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.551);
  border-radius: 50px;
}
.socials__link {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.socials__icon {
  height: 50px;
}
.socials__text {
  color: #6D3527;
  font-weight: bold;
}

@keyframes header-background {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.02);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
.header {
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}
@media (orientation: portrait) {
  .header {
    min-height: 110vh;
  }
}
@media (orientation: landscape) and (max-width: 992px) {
  .header {
    min-height: 120vh;
  }
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("~images/big-ben-2393098_1920_blur.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .header::after {
    animation-name: header-background;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
}
.header__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 1;
}
.header__nav {
  position: fixed;
  top: 0;
  left: 0;
}
.header__content {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100%;
  max-width: 1300px;
  padding: 150px 20px 20px 20px;
  z-index: 10;
}
@media (orientation: portrait) {
  .header__content {
    min-height: 110vh;
    padding: 100px 20px 20px 20px;
  }
}
@media (orientation: landscape) and (max-width: 992px) {
  .header__content {
    height: 120vh;
  }
}
.header__title {
  max-width: 1000px;
  font-size: clamp(22px, 1.8vw, 4rem);
  letter-spacing: 2px;
  font-weight: 700;
  color: #d8e1e6;
}
.header__txt {
  font-size: clamp(18px, 3rem, 1.4vw);
}
@media (orientation: portrait) {
  .header__txt {
    margin-block: 20px;
  }
}
.header__intro-block, .header__more-block {
  display: flex;
  flex-direction: column;
}
.header__intro-block {
  height: 400px;
  justify-content: space-between;
}
.header__more-block {
  align-items: center;
  gap: 2rem;
}
@media screen and (orientation: landscape) and (max-width: 992px) {
  .header__more-block {
    display: none;
  }
}
.header__button-action {
  width: 60px;
  height: 60px;
}

.txt-wrap {
  text-align: left;
}
.txt-wrap__block {
  margin-block: 2rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  padding: 10px;
  border: 1px solid rgba(178, 197, 205, 0.3);
  z-index: 100;
  /* From https://css.glass */
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.325);
  background: rgba(178, 197, 205, 0.6901960784);
  transition: all 0.3s linear;
}
.nav--nav-expanded {
  height: 100%;
  padding-top: 30px;
  gap: 3rem;
  align-items: space-around;
}
@media screen and (min-width: 1200px) {
  .nav__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    margin: 0 auto;
    gap: 1rem;
  }
}
.nav__list--nav-expanded {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav__item:not(.nav__item--logo) {
  display: none;
}
@media screen and (min-width: 1200px) {
  .nav__item:not(.nav__item--logo) {
    display: block;
  }
}
.nav__item.nav__item--nav-expanded {
  display: block;
}
.nav__logo {
  height: 70px;
}
.nav__link {
  color: #B2C5CD;
  color: #6D3527;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .nav__link {
    font-size: 2rem;
    transition: all 0.3s;
  }
}
.nav__link--nav-expanded {
  display: block;
  color: #6D3527;
  font-size: clamp(2rem, 3vh, 2.75rem);
  margin: 20px 10px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 40px 20px 40px 20px;
  text-align: center;
  flex-wrap: wrap;
}
.section__intro-wrap {
  max-width: 1000px;
  padding: 10px 0 30px 0;
}
.section__content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
}
@media (orientation: landscape) and (min-width: 992px) {
  .section__content {
    max-width: 1300px;
    flex-direction: row;
    justify-content: space-between;
  }
}
.section__intro-txt {
  padding-block: 20px;
}
@media (orientation: landscape) {
  .section__buttons-wrap {
    margin: 0 auto;
    max-width: 350px;
  }
}

.section--light-blue {
  background-color: #d8e1e6;
}

.footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 992px) {
  .footer__sitemap, .footer__legals {
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;
  }
}
.footer__logo {
  height: 50px;
}
.footer__item {
  margin-block: 1rem;
}
.footer__legals {
  border-top: 2px solid #6D3527;
  padding-top: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 992px) {
  .footer__column {
    display: flex;
    gap: 2rem;
  }
}
.footer__link {
  text-transform: uppercase;
}

/*Here you can find all pages*/

/*# sourceMappingURL=main.css.map */
